<div class="resource-item mt-3" [style.border-left]='getResourceBorder()'>
    <div class="surface-card shadow-2 border-round pl-3 pt-2 pb-2">
        <div class="grid">
            <div class="col-1 flex align-items-center pt-3">
                <p-avatar image="{{resource.image}}" size="large" shape="circle"></p-avatar>
            </div>
            <div class="col-11 flex align-items-center">
                <div class="pl-3">
                    <span class="block text-500 mb-1">
                        {{resource.type}} - {{resource.country}}
                    </span>
                    <span class="text-900 text-lg">
                        {{resource.title}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>