<span class="p-fluid search-box">
    <p-autoComplete field="name" [(ngModel)]="selectedNode" [suggestions]="filteredNodes" [showEmptyMessage]="true"
        emptyMessage="No hay resultados" (completeMethod)="filterNodes($event)">
        <ng-template let-node pTemplate="item">
            <span [routerLink]="['/panel/graph', node.id]">
                <div class="align-items-center gap-2 pl-5 font-light text-sm ">
                    <div class="font-bold">
                        {{ node.name }}
                    </div>
                    <div class="pt-3 pb-1 text-700">
                        {{node.description}}
                    </div>
                </div>
            </span>
        </ng-template>
    </p-autoComplete>
</span>