textarea,
textarea:enabled:focus,
textarea:enabled:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  padding: 1% 4% 1% 1%;
  resize: none;
  height: 35px;
}

.chat-input {
  position: absolute;
  bottom: 1%;
  width: 45%;
  left: 5%;
}

.pi-send {
  background: #ff8b22;
  border-radius: 8px;
  font-size: 0.6rem;
  padding: 0.4rem;
  margin-top: -0.7rem;
  color: white !important;
}

.p-inputtext {
  font-size: 0.8rem;
}

@media screen and (max-height: 600px) {
  textarea,
  textarea:enabled:focus,
  textarea:enabled:hover {
    height: 29px;
  }
  .pi-send {
    background: #ff8b22;
    border-radius: 6px;
    font-size: 0.5rem;
    padding: 0.4rem;
    margin-top: -0.65rem;
    color: white !important;
  }

  .p-inputtext {
    font-size: 0.7rem;
  }
}

@media screen and (max-height: 500px) {
  textarea,
  textarea:enabled:focus,
  textarea:enabled:hover {
    height: 15px;
  }
  .pi-send {
    background: #ff8b22;
    border-radius: 2px;
    font-size: 0.4rem;
    padding: 0.1rem;
    margin-top: -0.3rem;
    color: white !important;
  }

  .p-inputtext {
    font-size: 0.4rem;
  }
}
