textarea,
textarea:enabled:focus,
textarea:enabled:hover {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  padding: 0.5rem 0.25rem 0.25rem 0.5rem;
}
i {
  font-size: 1.2em;
}

.chat-input {
  position: absolute;
  bottom: 1%;
  width: 45%;
  left: 5%;
}

.pi-send {
  background: #ff8b22;
  border-radius: 10px;
  padding: 1%;
  color: white !important;
  margin-top: -2%;
}
