<div class="grid ">
    <div class="col-10 col-offset-1">
        <div class="message-received">
            {{message?.getContent()}}
        </div>
        <div class="message-time">
            {{message?.getTimestampHHMM()}}
        </div>
    </div>
    <div class="col-1 justify-content-center flex">
        <p-avatar
            image="https://19719549.fs1.hubspotusercontent-na1.net/hub/19719549/hubfs/Emerita-legal-logo-2.png?width=108&amp;height=108"
            size="large" shape="circle"></p-avatar>
    </div>
</div>