<div style="background: #dcdcdc50" class="p-3">
  <div class="">
    <h4 class="m-2 title-graphs">Tasa de éxito de Pablo Luis Vazquez García en despidos disciplinarios</h4>
  </div>
  <div class="grid">
    <div class="col-4">
      <div class="d-flex w-50 pr-2 align-items-center">
        <div style="height: 130px; width: 130px">
          <canvas #successRateChart>{{ chart }}</canvas>
        </div>
        <div class="ml-4 d-flex flex-direction-column justify-content-center success-rate-donut__details--holder">
          <div class="legend mb-4" [class.legend-red]="valueColor === 'red'" [class.legend-blue]="valueColor === 'blue'"
            [class.legend-indigo]="valueColor === 'indigo'">
            <h5 class="m-0 d-block mb-2 chart-font-medium" style="line-height: 0.8;">{{
              valueLabel
              }}</h5>
            <span class="font-big d-block text-secondary" style="line-height: 1">
              {{ data.value }}%
            </span>
          </div>
          <div class="legend legend-yellow">
            <h5 class="m-0 d-block mb-2 chart-font-medium" style="line-height: 0.8">Alcanzable</h5>
            <span class="font-big d-block text-secondary" style="line-height: 1">
              {{ data.mediaValue }}%
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8 d-flex justify-content-center align-items-center">
      <div [style.border-left]="'2px solid #ccc'" class="w-50 d-flex pl-2 justify-content-center align-items-center">
        <div>
          <h5 class="m-0">Antiguedad</h5>
          <span class="font-big">32</span><span class="ml-1">años/senior</span>
          <br>
          <h5 class="m-0 mt-2">Casos analizados</h5>
          <span class="font-big">72</span>
        </div>
      </div>
    </div>
  </div>
</div>