<p-fieldset legend="Free Access" [toggleable]="true">
    <div class="grid">
        <div class="col-7">
            <b>Log in or sign up
            </b>
            <ul>
                <li>Expert analysis on 250+ global issues
                </li>
                <li>Latest research and analysis from the world’s leading research institutions
                </li>
            </ul>
        </div>
        <div class="col-5">
            <div class="grid">
                <div class="col-12">
                    <p-button label="SIGN UP FOR FREE"></p-button>
                </div>
            </div>
            <div class="grid">
                <div class="col-12">
                    <p-button label="LOG IN" styleClass="p-button-outlined"></p-button>
                </div>
            </div>
        </div>
    </div>
</p-fieldset>