<div class="register-block" *ngIf="!user">
    <span class="text-xs" style="color: #ccc;">ACCESO GRATUITO</span>
    <h3>
        Regístrate o inicia sesión
    </h3>
    <ul>
        <li>Investigación y análisis en más de 250 temas</li>
        <li>Contenido actualizado diariamente por nuestros expertos</li>
    </ul>
    <p-button (click)="showDialog()"
        [style]="{background:'#ff8b22', border: '1px solid #ff8b22', 'border-radius': '3px', color:'#fff', 'font-weight':'bold'}">
        Regístrate
    </p-button>
    <p-button (click)="showDialog()"
        [style]="{'margin-left': '1%', background:'none', border: '1px solid #fff', 'border-radius': '3px', color:'#fff', 'font-weight':'bold'}">
        Inicia sesión
    </p-button>
</div>
<div class="register-block" *ngIf="user">
    <h3>Ahora que estás registrado,
        hazte miembro para ver nuestro contenido premium
    </h3>
    <ul>
        <li>Investigación y análisis en más de 250 temas</li>
        <li>Contenido actualizado diariamente por nuestros expertos</li>
    </ul>
    <p-button
        [style]="{background:'#ff8b22', border: 'none', 'border-radius': '3px', color:'#fff', 'font-weight':'bold'}">
        Hazte miembro
    </p-button>
</div>

<p-dialog header="¿Qué tipo de profesional eres?" [(visible)]="dialogVisible">
    <div class="flex align-items-center justify-items-center p-1">
        <p-button (click)="signUp('Abogada')" class="mr-2"
            [style]="{background:'#fff3eb', border: 'none', color:'#ff8b22', 'font-weight':'bold'}">
            <i class="pi pi-user mr-2"></i>
            Abogado/a
        </p-button>
        <p-button (click)="signUp('Empresaria')"
            [style]="{background:'#fff3eb', border: 'none', color:'#ff8b22', 'font-weight':'bold'}">
            <i class="pi pi-building  mr-2"></i>
            Empresario/a
        </p-button>
    </div>
</p-dialog>