<div class="grid">
    <div class="col-1 justify-content-center flex">
        <p-avatar
            image="https://estaticos-cdn.epe.es/clip/9311c47b-e3ff-4250-a4be-a869326b0abf_alta-libre-aspect-ratio_default_0.jpg"
            size="large" shape="circle"></p-avatar>
    </div>
    <div class="col-10">
        <div class="message-sent">
            {{message?.getContent()}}
        </div>
        <div class="message-time">
            {{message?.getTimestampHHMM()}}
        </div>
    </div>
</div>