 .link{
    stroke: rgb(211, 218, 222);
    stroke-width: 0.125vmin;
    opacity: 0.5;
 }

 .linkHover, .linkSelected{
   stroke: #437def;
   transition: all 300ms ease-in;
   stroke-width: 0.130vmin;
   opacity: 1;
 }

 .innerNode{
    fill: white;
    stroke: rgb(135, 136, 160);
    transition: all 300ms ease-in;
    cursor: pointer;
 }

 .innerNodeHover, .innerNodeSelected, .outerNodeSelected, .outerNodeHover{
   fill: #437def;
   stroke: #437def;
   transition: all 300ms ease-in;
   cursor: pointer;
 }

 .innerEdge{
    stroke: #437def;
    stroke-dasharray: 1.3vmin 0.5vmin; 
    stroke-width: 0.2vmin;
 }

 .outerNode{
    fill: white;
    stroke: rgb(135, 136, 160);
    transition: all 300ms ease-in-out;
    cursor: pointer;
 }

 .outerEdge{
    stroke: #8e8e8e;
    stroke-dasharray: 0.3vmin 0.3vmin; 
 }

 .centralNode {
    /* fill: url(#map-image); */
    fill: white;
    stroke: rgb(135, 136, 160);
 }
 
 text {
   fill: rgb(74, 75, 99);
   text-align: center;
   text-shadow: none;
 }