#navigation-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.link {
  stroke: #eddace;
  stroke-width: 0.125vmin;
  opacity: 0.9;
}

.link-start {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.link:hover,
.linkSelected {
  stroke: #ff8b22;
  transition: all 300ms ease-in;
  stroke-width: 0.13vmin;
  opacity: 1;
}

.innerNode {
  fill: #f5f7f8;
  stroke: rgb(135, 136, 160);
  transition: all 300ms ease-in;
  cursor: pointer;
}

.nodePreSelected {
  transition: all 300ms ease-in;
}

.nodeHovered,
.nodeSelected {
  fill: #ff8b22 !important;
  stroke: #ff8b22 !important;
  transition: all 300ms ease-in;
  cursor: pointer;
}

.innerEdge {
  stroke: #ff8b22;
  stroke-dasharray: 1.3vmin 0.5vmin;
  stroke-width: 0.2vmin;
}

.outerNode {
  fill: #f5f7f8;
  stroke: rgb(135, 136, 160);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.outerEdge {
  stroke: #8e8e8e;
  stroke-dasharray: 0.3vmin 0.3vmin;
}

.centralNode {
  stroke: rgb(135, 136, 160);
}

.centralNode + g foreignObject div text {
  fill: white;
}

text {
  fill: #212529;
  text-align: right;
  text-shadow: none;
  font-weight: bold;
}

.centralNode + g {
  cursor: pointer;
}
