<p-card>
    <ng-template pTemplate="header">
        <div class="max-h-9rem p-5 header-img"
            style='background-image: url("{{topic?.image}}");'>
            <div class="header-title">
                <p class="font-light">
                    
                </p>
                <h3>
                    {{ topic?.title }}
                </h3>
                <p class="font-light">
                    {{ topic?.subtitle}}
                </p>
            </div>
        </div>
    </ng-template>
    <span>
       {{ topic?.description}}
    </span>
</p-card>