<p-card>
    <ng-template pTemplate="header">
        <div class="max-h-9rem p-5 header-img" style='background-image: url("{{topic?.image}}");'>
            <div class="header-title">
                <p class="font-light text-sm">
                    {{topic?.type}}
                </p>
                <h1>
                    {{topic?.title}}
                </h1>
                <div class="font-light">
                    {{topic?.subtitle}}
                </div>
            </div>
        </div>
    </ng-template>
    <span class="description">
        {{ description.value}}
        <span *ngIf="!description.expanded">
            <a (click)="onExpand()">Leer más</a>
        </span>
    </span>
</p-card>