@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    color: rgb(74, 75, 99);
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
}