@import "primeng/resources/themes/mdc-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  color: rgb(74, 75, 99);
  background-color: #f5f7f8;
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
