<div class="home">
    <div class="grid">
        <div class="col-6 col-offset-3">
            <img src="https://www.comparador-legaltech.com/media/1934/icono.png" height="80" width="60%"
                [style.margin-left]="'20%'" alt="">
            <p class="text-center text-xl text-700">Busca un tema</p>
            <app-search-box></app-search-box>
            <p class="text-center text-lg text-900 font-bold">O</p>
            <p class="text-center text-lg text-900"> <a routerLink="graph">Navega por nuestro grafo de conocimiento</a>
            </p>
        </div>
    </div>
</div>